.main {
    width: 100%;
    height: 250px;
    position: relative;
    color: white;
}

.box { 
    width: 150px; 
    height: 150px;
}

.pink_a {
    z-index: 1;
    background-color: pink;
    position: absolute;
    top: 0px;
    left: 0px;
}

.green_a {
    z-index: 2;
    background-color: green;
    position: absolute;
    top: 50px;
    left: 50px;
}

.orange_a {
    z-index: 3;
    background-color: orange;
    position: absolute;
    top: 100px;
    left: 100px;
}